<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hospitalapp">

    <!-- Remove Internet permission if not using Firebase or APIs -->
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->

    <application
        android:allowBackup="true"
        android:label="Hospital Management System"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <!-- Main launcher activity -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Add Patient Activity -->
        <activity android:name=".AddPatientActivity" />

        <!-- Schedule Activity (optional) -->
        <activity android:name=".ScheduleActivity" />

    </application>

</manifest>
